.title {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 30px;
}

.input {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    height: 30px;
}